*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site{
    height: 100vh;
    width: 100%;
    background-image: url('fotky/gif.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main{
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
}

.main__project{
    height: 100%;
    width: 50%;
    display: flex;
}

.main__class{
    height: 100%;
    width: 50%;
    display: flex;
}

.main__project__text{
    justify-content: right;
    align-items: start;
    margin: auto;
    display: flex;
    height: 40%;
    width: 100%;
    color: 	white;
    font-weight: bold;
    font-size: 90px;
    padding-right: 100px;
    border-right: solid	white 5px;
    padding-top: 50px;
    }

.main__class__text{
    justify-content: left;
    align-items: end;
    margin: auto;
    display: flex;
    height: 40%;
    width: 100%;
    color: 	white;
    font-weight: bold;
    font-size: 90px;
    border-left: solid 	white 5px;
    padding-left: 100px;
    padding-bottom: 50px;
  }

  .main__class__text span{
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    white-space: pre;
  }

  .main__class__text span:nth-child(1) { animation-delay: 0.4s; }
  .main__class__text span:nth-child(2) { animation-delay: 0.8s; }
  .main__class__text span:nth-child(3) { animation-delay: 1.2s; }
  .main__class__text span:nth-child(4) { animation-delay: 1.6s; }

@keyframes fadeIn {
  to { opacity: 1; }
}

.main__project__text span{
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    white-space: pre;
  }

  .main__project__text span:nth-child(1) { animation-delay: 1.6s; }
  .main__project__text span:nth-child(2) { animation-delay: 1.5s; }
  .main__project__text span:nth-child(3) { animation-delay: 1.4s; }
  .main__project__text span:nth-child(4) { animation-delay: 1.3s; }
  .main__project__text span:nth-child(5) { animation-delay: 1.2s; }
  .main__project__text span:nth-child(6) { animation-delay: 1.1s; }
  .main__project__text span:nth-child(7) { animation-delay: 1.0s; }
  .main__project__text span:nth-child(8) { animation-delay: 0.9s; }
  .main__project__text span:nth-child(9) { animation-delay: 0.8s; }
  .main__project__text span:nth-child(10) { animation-delay: 0.7s; }
  .main__project__text span:nth-child(11) { animation-delay: 0.6s; }
  .main__project__text span:nth-child(12) { animation-delay: 0.5s; }
  .main__project__text span:nth-child(13) { animation-delay: 0.4s; }
  .main__project__text span:nth-child(14) { animation-delay: 0.3s; }
  .main__project__text span:nth-child(15) { animation-delay: 0.2s; }
  .main__project__text span:nth-child(16) { animation-delay: 0.1s; }

  .hero{
    width: 100%;
    height: 650%;
    display: flex;
    flex-direction: row;
    display: flex;
    width: 100%;
    }

    .hero__column{
        width: 33.3%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: end;
        gap: 100px;
        background-color:gray;
        padding-left: 300px;
    }

    .hero__column2{
        width: 33.3%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        background-color:gray;
    }

    .hero__column3{
        width: 33.3%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        gap: 100px;
        background-color: gray;
        padding-right: 300px;
        }
    

    .hero__column__box{
        width: 400px;
        height: 400px;
        background-color: #3a3a3a;
        display: flex;
        color: white;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        max-width: 300px;
        margin: 30px auto;
        text-align: center;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 15px 28px rgba(0, 0, 0, 0.5);
    }
      .hero__column__box {
        opacity: 0;
        transform: translateY(20px);
        transition: all 2.5s ease-out;
      }
      
      .hero__column__box.visible {
        opacity: 1;
        transform: translateY(0);
      }

      .hero__column__box__blank{
        width: 400px;
        height: 400px;
        background-color: gray;
        display: flex;
        color: white;
        padding: 20px;
        border-radius: 15px;
        max-width: 300px;
        margin: 30px auto;
        text-align: center;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        .flip-card {
      background-color: transparent;
      perspective: 1000px;
        width: 400px;
        height: 400px;
        display: flex;
        color: white;
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        max-width: 300px;
        margin: 30px auto;
        text-align: center;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
    }

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      border-radius: 15px;
      flex-direction: column;
    }

    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
      border-radius: 15px;
      flex-direction: column;
    }

    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      border-radius: 15px;
      flex-direction: column;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .flip-card-front {
      background-color: #3a3a3a;
      border-radius: 15px;
      flex-direction: column;
    }

    .flip-card-back {
      background-color: #3a3a3a;
      color: white;
      transform: rotateY(180deg);
      border-radius: 15px;
      flex-direction: column;
    }

.down{
  width: 100%;
  background-color: gray;
  display: flex;
  flex-direction: row;

}

.hero__column__box__photo1{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/Hirohito.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo11{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/lidice.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo21{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/emilbimbas.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo2{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/holokaust.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo3{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/zbrojirenstvi.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo4{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/Rudolf-Vrba.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo5{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/Neville-Chamberlain-Bassano.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo6{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/severoafricka.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo7{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/anna.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo8{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/vylodeni-italy-photo-02.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo9{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/oskar.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo10{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/osn.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo12{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/varsavske.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo13{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/gabcik.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo14{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/stalin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo15{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/vaclav.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo16{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/pearl.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo17{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/normandie.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo18{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/mussolin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo19{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/osvetim.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo20{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/terezin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo22{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/heydrichiada.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo23{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/ant.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo24{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/nicholas.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo25{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/irena.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__column__box__photo26{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/bomba.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo27{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/chur.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__column__box__photo28{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/ravens.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__column__box__photo29{
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 3px 4px 67px 2px rgba(0,0,0,0.75) inset;
  background-image: url('fotky/barba.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}